# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3

# Virtual environments
.venv/
venv/
env/

# =========================
# Environment variables
# =========================
.env

# =========================
# Docker
# =========================
*.tar
docker-compose.override.yml

# =========================
# Terraform
# =========================
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.backup
*.lock.hcl

# =========================
# OS / IDE
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Test / Coverage
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Logs
# =========================
logs/
*.log


__pycache__/
*.pyc
.env
